.moodle-utils {
    color: grey
}

/* QUESTIONS */

.moodle-utils.moodle-utils-top-bar {
    margin-bottom: 1em;
}

.moodle-utils.moodle-utils-unsure-box {
    float: right;
}

.moodle-utils.moodle-utils-info {
    font-style: italic;
}

/* ANSWERS */

.moodle-utils.answer-counter {
    float: right;
}

.moodle-utils.top-short-answers {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.moodle-utils.top-short-answer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.moodle-utils.top-short-answer-content {
    width: -webkit-fill-available;
}

/* TIMER */

.moodle-utils.per-question {
    color: black
}

.moodle-utils.timer-per-question {
    font-weight: 700;
    color: black
}

/* SERVER STATUS */

.moodle-utils.status::before {
    content: "???";
    float: right;
}

.moodle-utils.status.unknown::before {
    content: "???";
    float: right;
}

.moodle-utils.status.ok::before {
    content: "OK";
    color: hsla(120, 100%, 41%, 0.75);
}

.moodle-utils.status.failed::before {
    content: "FAILED";
    color: hsla(0, 100%, 54%, 0.75);
}