tls
moodle-utils
__debug_bin
.vscode
**/test*
dump
node_modules
tmp
server/server
client/dist/*
!client/dist/release.user.js
.terraform*
terraform.tfstate*
server/cert/cert.pem
server/cert/privkey.pem
